# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
*.sqlite
*.db

# Backend env
backend/.env

# Node
node_modules/
.next/
out/
.vercel/

# Frontend env
frontend/.env
frontend/.env.local
frontend/.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
